@media(max-width: 540px){
    html{
        width: 100vw;
        overflow-x: hidden;
    }
    body{
        width: 100vw;
    }
    header{
        height: 8vh;
    }
    header h2{
        font-size: 9vw;
        margin-left: 3vw;
    }
    .boton{
        background-color: var(--backgroundColorBody);
        border: none;
        display: flex;
        position: absolute;
        right: 0;
        margin-top: 3vw;
        margin-right: 3vw;
        width: 10vw;
        height: 10vw;
    }
    header nav ul{
        flex-direction: column;
        width: 100vw;
        justify-content: space-around;
    }
    header nav ul a{
        font-size: 5vw;
    }
    header nav{
        width: 100vw;
        height: 50vh;
        margin-top: 8vh;
        background-color: var(--backgroundColorMenuMovil);
        transform: translateX(-150vw);
        transition: transform 1s ease;
    }
    nav.active{
        transform: translateX(-37vw);
        
    }
    
    /* home */
    .Home{
        height: 100vh;
        /* display: flex; */
        padding-top: 0;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .Home .titulo{
        height: 35vh;
        text-align: center;
        margin-left: 0;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translateY(2vh);
    }
    .Home .titulo h1{
        margin-right: 2.2vw;
        font-size: 11vw;
        height: auto;
    }
    .Home .titulo p{
        display: flex;
        justify-content: center;
    }
    .Home .img{
        height: auto;
        padding-bottom: 5vh;
        justify-content: center;
        align-items: flex-start;
    }
    .img picture img{
        margin-top: 3vh;
        width: 70vw;
    }
    /* about */
    .About{
        padding-top: 8vh;
        height: auto;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .About .imgAbout{
        padding-top: 6vh;
        order: 2;
        justify-content: center;
        height: auto;
    }
    .imgAbout picture{
        display: flex;
        justify-content: center;
    }
    .imgAbout picture img{
        width: 60vw;
        margin: 0;
    }
    .About .info{
        height: auto;
        order: 1;
        padding-bottom: 4vh;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
    }
    .About .info h2{
        font-size: 4vh;
    }
    .About .info p{
        font-size: 2vh;
    }
    /* menu */
    .Menu{
        height: 155vh;
    }
    .Menu .tituloMenu{
        align-items: center;
        text-align: center;
    }
    .Menu .tituloMenu h2{
        font-size: 4vh;
    }
    .Menu .foods{
        flex-direction: column;
        align-items: center;
    }
    .Menu .food{
        width: 80vw;
    }
    .food2{
        margin: 3vh 0vh;
    }
    .food .image i{
        font-size: 8vw;
    }
    /* service */
    .Service{
        height: 145vh;
    }
    .Service .tituloService{
        text-align: center;
        padding-top: 6vh;
    }
    .tituloService h2{
        font-size: 5vh;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .services{
        width: 70vw;
    }
    .services picture{
        display: flex;
        justify-content: center;
    }
    .services img{
        width: 70%;
    }
    .services .text h4{
        font-size: 6vw;
        margin-bottom: 0vh;
    }
    .services .text p{
        font-size: 4vw;
    }
    /* contact */
    .Contact{
        padding-top: 8vh;
    }
    .caja h2{
        font-size: 7vw;
    }
    .caja button{
        font-size: 4vw;
    }
    footer{
        
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 2.5vh;
    }
    .infos{
        padding-left: 15vw;
    }
    .infos h4{
        font-size: 5vw;
    }
    .infos h4 hr{
        width: 13vw;
    }
    .contactHijo{
        padding-left: 0vw;
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
    .red{
        width: 8vw;
    }
}