@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--backgroundColorBody);
}
/* header */
header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}
header h2{
    padding-left: 80px;
    color: var(--colorPrimary);
    font-size: 35px;
    width: 50%;
    display: flex;
    align-items: center;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav ul li{
    padding: 0px 30px;
    list-style: none;
}
header nav ul li a{
    color: var(--colorLetterPrimary);
    text-decoration: none;
    padding: 6px 8px;
}
header nav ul li a:hover{
    outline: 1px solid #087f5b;
    padding: 6px 8px;
}
/* home */

.Home{
    width: 100%;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
}
.Home .titulo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home .titulo h1{
    color: var(--colorPrimary);
    font-size: 80px;
    height: 100px;
    padding: 0px;
}
.Home .titulo p{
    color: var(--colorLetterPrimary);
    margin: 10px 0px;
    font-size: 25px;
}
.Home .titulo button{
    background-color: var(--colorPrimary);
    color: var(--colorLetterPrimary);
    border: none;
    font-size: 17px;
    padding: 5px;
}
.Home .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
