@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--backgroundColorBody);
    overflow-x: hidden;
}
/* header */
header{
    z-index: 10;
    background-color: var(--backgroundColorBody);
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
}
header h2{
    padding-left: 6.5vw;
    color: var(--colorPrimary);
    font-size: 6vh;
    width: 50vw;
    display: flex;
    align-items: center;
}
header nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
header nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}
header nav ul li{
    padding: 0px 5vh;
    list-style: none;
}
header nav ul li a{
    color: var(--colorLetterPrimary);
    text-decoration: none;
    padding: 1vh 1.2vh;
}
header nav ul li a:hover{
    outline: 1px solid #087f5b;
    padding: 1vh 1.2vh;
}
.boton{
    display: none;
}
/* home */

.Home{
    width: 100vw;
    display: flex;
    padding-top: 10vh;
    flex-direction: row;
    height: 80vh;
    justify-content: space-between;
}
.Home .titulo{
    width: 100%;
    margin-left: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Home .titulo h1{
    color: var(--colorPrimary);
    font-size: 6vw;
    height: 16.6vh;
    padding: 0px;
}
.Home .titulo p{
    color: var(--colorLetterPrimary);
    margin: 1.6vw 0px;
    font-size: 4.1vh;
}
.Home .titulo button{
    background-color: var(--colorPrimary);
    color: var(--colorLetterPrimary);
    border: none;
    font-size: 2.8vh;
    padding: 1vh;
}
.Home .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.img picture img{
    width: 36vw;
}
/* About */
.About{
    width: 100vw;
    height: 80vh;
    padding-top: 8vh;
    display: flex;
    justify-content: space-between;
}
.About .imgAbout{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.imgAbout picture img{
    margin-right: 5vw;
    width: 30vw;
}
.About .info{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.About .info h4{
    color: var(--colorPrimary);
}
.About .info h2{
    color: var(--colorLetterPrimary);
    font-size: 7.5vh;
}
.About .info p{
    color: var(--colorLetterPrimary);
    font-size: 3vh;
}
.About .info button{
    margin-top: 1.3vh;
    width: 18.3vh;
    font-size: 2.8vh;
    background-color: var(--colorPrimary);
    color: var(--colorLetterPrimary);
    border: 0;
    padding: 1vh;
}
/* menu */
.Menu{
    width: 100%;
    height: 80vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.Menu .tituloMenu{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vh 0px 0px ;
}
.tituloMenu h4{
    color: var(--colorPrimary);
}

.tituloMenu h2{
    color: var(--colorLetterPrimary);
    font-size: 6.6vh;
}
.Menu .foods{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foods .food{
    border: 5px double;
    background-color: var(--colorLetterPrimary);
    width: 21vw;
}
.food picture{
    display: flex;
    justify-content: center;
}
.food img{
    width: 80%;
}

.food .image{
    position: relative;
}

.food .image i{
    background-color: var(--colorPrimary);
    border: solid var(--colorLetterSecundary);
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5vh;
    margin-right: 0.5vh;
    font-size: 2vw;
}
.food .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorLetterSecundary);
}
.food .text .price{
    color: var(--colorPrimary);
}
.food2{
    margin: 0px 6.6vh;
}
/* service */
.Service{
    width: 100vw;
    height: 90vh;
}
.Service .tituloService{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4vh 0px 0px ;
}
.tituloService h4{
    color: var(--colorPrimary);
}

.tituloService h2{
    color: var(--colorLetterPrimary);
    font-size: 6.6vh;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services{
    width: 21vw;
}
.services picture{
    display: flex;
    justify-content: center;
}
.services img{
    width: 70%;
}
.services .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--colorLetterSecundary);
}
.services .text h4{
    color: var(--colorPrimary);
    font-size: 2vw;
    margin-bottom: 2.5vh;
}
.services .text p{
    text-align: center;
    font-size: 1.4vw;
    color: var(--colorLetterPrimary);
}
.Shipping{
    margin: 0px 6.6vh;
}
/* Contact */
.Contact{
    width: 100vw;
    height: 90vh;
    padding-bottom: 5vh;
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.caja{
    background-color: var(--backgroundColorBox);
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 5vw;
    border: double var(--colorLetterSecundary) 1vh;
}
.caja h2{
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 3vh;
    font-size: 3vw;
    color: var(--colorLetterSecundary);
}
.caja button{
    background-color: var(--colorPrimary);
    border: none;
    padding: 0.5vw 0.9vw;
    color: var(--colorLetterPrimary);
    margin-bottom: 7vh;
}
footer{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
}
.infos{
    color: var(--colorLetterPrimary);
}
.infos h4{
    font-size: 1.5vw;
    margin-bottom: 1.5vh;
}
.infos h4 hr{
    width: 4vw;
    border-color: var(--colorPrimary);
}
.redesSociales{
    display: flex;
    flex-direction: row;
}
.red{
    width: 2vw;
    margin: 0.5vw;
}
.facebook{
    margin-left: 0;
}