:root{
    --colorPrimary: #ff702a;
    --colorLetterPrimary: #fff;
    --backgroundColorBody: #1e1d2b;
    --colorLetterSecundry: #000;
    --backgroundColorBox: #ffefe8;
    --backgroundColorMenuMovil: #2c2b47;
}